@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  box-sizing: border-box; /* ให้ element ทุกตัวอ้างอิงตามขนาดจริง */
  overflow: hidden;
  font-family: "Kanit", sans-serif;
}

body {
  background: #121312;
}

.header {
  background: rgb(32, 148, 113);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.button {
  border: none;
  font: inherit;
  background: #1ca1da;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  align-items: center;
  font-weight: bold;
}

.badge {
  background-color: #f7c41b;
  padding: 0.2rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.shopping-cart {
  width: 760px;
  height: 450px;
  background: white;
  margin: 120px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  padding: 5px 30px;
  height: 100px;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 2fr 1fr 1fr;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.item:nth-child(4) {
  border-bottom: 1px solid #e1e8ee;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.footer {
  height: 60px;
  border-top: 1px solid #e1e8ee;
  padding: 20px 30px;
  font-size: 25px;
  font-size: 800;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-image {
  margin-right: 50px;
}
.product-image img {
  width: 80px;
  height: 80px;
}

.description {
  margin-right: 130px;
  min-width: 80px;
}

.description span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 1px;
  color: gray;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  border: transparent;
  text-align: center;
  width: 32px;
  font-weight: 300;
  font-size: 18px;
}

.plus-btn,
.minus-btn {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.plus-btn img {
  margin-top: 3px;
}

.minus-btn img {
  margin-bottom: 3px;
}

.total-price {
  width: 83px;
  padding-top: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 550;
}

.remove {
  position: relative;
  padding-top: 25px;
  margin-left: 60px;
}

.remove img {
  cursor: pointer;
}
